/* Réinitialisation de certains styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importation de la police Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Styles de base */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #494949;
    background-color: #f4f4f4;
    padding: 20px 0; /* Ajustement pour laisser de l'espace pour l'en-tête et le pied de page */
    font-size: 16px;
}

/* Conteneur principal */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

/* En-tête */
header {
    background: #494949;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #E95B22;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/* Navigation */
nav ul.main-menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav .main-menu > li {
    position: relative;
}

nav .main-menu > li a {
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
}

nav .main-menu > li a:hover, nav .sub-menu li a:hover {
    background-color: #E95B22;
    color: #fff;
}

/* Sous-menus */
nav .sub-menu {
    display: none;
    position: absolute;
    background-color: #494949;
    min-width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav .main-menu > li:hover .sub-menu {
    display: block;
}

nav .sub-menu li a {
    padding: 10px;
    color: #fff;
    text-transform: none;
    display: block;
}

/* Carte */
#maCarte {
    height: 80vh;
    margin: 5vh auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Styles du contenu principal */
main {
    margin: 20px auto;
    padding: 0 20px;
}

/* Styles des sections */
section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

/* Pied de page */
footer {
    background: #494949;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative; /* Assure une séparation nette avec le contenu principal */
}

footer p {
    margin: 0;
}

/* Formulaires et boutons */
input[type="text"], input[type="email"], textarea, button, input[type="submit"] {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}

button, input[type="submit"] {
    background: #E95B22;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, input[type="submit"]:hover {
    background: #cc4c1a;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #E95B22;
}

textarea {
    resize: vertical; /* Permet aux utilisateurs de changer la taille verticalement */
}
